    <div class="footer-padding"></div>
    <div class="footer mt-auto">
        <p>
            Tor Grønås 
            <a href="https://github.com/Torgron" target="_blank"><i class="fa-brands fa-github"></i></a> 
            <a href="https://www.youtube.com/channel/UCmn2n-8tFuhqUI6J3a909nQ" target="_blank"><i class="fa-brands fa-youtube"></i></a> 
            <a href="https://www.facebook.com/profile.php?id=100014921327141" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </p>
    </div>

    <!-- <script src="/videojs/video.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
</body>

</html>