    <div class="footer-padding"></div>
    <div class="footer">
        <p>Tor Grønås [Github] [Youtube] [Facebook]</p>
    </div>

    <script src="/dist/video.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>