<%- include("partials/header")%>

    <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        poster="/images/Github_video_thumbnail.png"
        width="960"
        height="540"
        data-setup="{}"
    >
        <source src="/videos/Github_Pages_eksempel_1.mp4" type="video/mp4" />
    </video>

    <p>
        - Ha en statisk nettside som er lastet opp i et Github repository
        - Pass på at hovedhtmlfilen heter "index.html"

        På nettet:
        - På github.com, gå til repositoriet og velg "Settings"
        - Trykk på "Pages" på venstre side og velg "main" under "Source"
        - Trykk "Save" og få lenken til nettsiden
    </p>

<%- include("partials/footer")%>