<%- include("partials/header")%>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-header">
            <h1 class="card-title text-center">Heroku</h1>
        </div>
        <div class="card-body text-center">
            <video
                id="my-video"
                class="video-js border border-dark border-5"
                controls
                preload="auto"
                poster="/images/Github_video_thumbnail.png"
                data-setup="{}"
            >
                <source src="/videos/Github_Pages_eksempel_1.mp4" type="video/mp4" />
            </video>
        </div>
    </div>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-header">
            <h1 class="card-title text-center">Før du starter</h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li>
                        Ha en statisk nettside som er lastet opp i et Github repository
                    </li>
                </ul>
                <img class="card-img d-block mx-auto border border-dark border-5" src="/images/G_Github-Repo.png" alt="En statisk nettside i et Github repository">
                <ul>
                    <li>
                        Pass på at hovedhtmlfilen heter "<i>index.html</i>"
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-header">
            <h1 class="card-title text-center">På nettet</h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                <ul>
                    <li>
                        På github.com, gå til repositoriet og velg "<i>Settings</i>"
                    </li>
                </ul>
                <img class="card-img d-block mx-auto border border-dark border-5" src="/images/G_Settings.png" alt="Knapp for å gå til innstillingene til Github repositoriet">
                <ul>
                    <li>
                        Trykk på "<i>Pages</i>" på venstre side og velg "<i>main</i>" under "<i>Source</i>"
                    </li>
                </ul>
                <img class="card-img d-block mx-auto border border-dark border-5" src="/images/G_Branch-Main.png" alt="Meny i innstillingene til Github repositoriet for å sette opp Github Pages">
                <ul>
                    <li>
                        Trykk "<i>Save</i>" og få lenken til nettsiden
                    </li>
                </ul>
                <img class="card-img d-block mx-auto border border-dark border-5" src="/images/G_Published-Site.png" alt="Knapp for å lagre endringene og en link til den nypubliserte nettsiden">
                <ul>
                    <li>
                        Nå er nettsiden din hostet på Github og klar til å bli delt med andre.
                    </li>
                </ul>
            </p>
        </div>
    </div>

<%- include("partials/footer")%>