<%- include("partials/header")%>

<section class="colored-con">
    <div class="container section-con">
        <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            data-setup="{}"
        >
            <source src="/" type="video/mp4" />
        </video>
    </div>
</section>

<%- include("partials/footer")%>