<%- include("partials/header")%>

    <p>
        Github Pages er veldig lettvint, men krever at man har en statisk nettside. Heroku er litt mer avansert og hoster bare webapplikasjoner. 
    </p>

<%- include("partials/footer")%>