<%- include("partials/header")%>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-header">
            <h1 class="card-title text-center">Sammenligning av Github og Heroku</h1>
        </div>
        <div class="card-body">
            <img class="mx-auto d-block" src="https://miro.medium.com/max/690/1*Bwp5z9qlQAor4hw2K61gIw.jpeg">
        </div>
    </div>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-body">
            <p class="card-text">
                Github Pages er veldig lettvint, men krever at man har en statisk nettside. Heroku er litt mer avansert og hoster bare webapplikasjoner. 
            </p>
        </div>
    </div>

<%- include("partials/footer")%>