<%- include("partials/header")%>

    <div class="card mx-auto" style="width: 60rem;">
        <div class="card-header">
            <h1 class="card-title text-center">Sammenligning av Github og Heroku</h1>
        </div>
        <div class="card-body">
            <img class="mx-auto d-block" src="https://miro.medium.com/max/690/1*Bwp5z9qlQAor4hw2K61gIw.jpeg" alt="Github logo og Heroku logo">
        </div>
    </div>

    <div class="card mx-auto" style="width: 80vw;">
        <div class="card-body">
            <p class="card-text">
                I vårt digitale samfunn er det vanlig å surfe på Internettet for å snakke med andre mennesker og bli oppdatert på de nyeste sakene. 
                Alt dette gjøres som regel via nettsider. Hvis man har egne idéer til en nettside kan man for eksempel lære seg litt HTML og lage 
                sin egen, men for at andre skal kunne nå denne nettsiden må den faktisk bli hostet på nettet.
            </p>
            <hr>
            <p class="card-text">   
                Dette kan være en ganske vanskelig prosess å lære seg, men det finnes noen løsninger som er litt lettere enn andre. To av disse 
                løsningene er Github Pages og Heroku. Github Pages er veldig lettvint, men krever at man har en statisk nettside. Heroku er litt 
                mer avansert og hoster bare webapplikasjoner. Til tross for at Heroku er mer avansert har det en del flere fordeler slik som umiddelbar 
                tilbakerulling til tidligere versjoner, forhåndsvisninger for hvert push, og kompatibilitet med alle statiske nettstedsgeneratorer.
            </p>
            <hr>
            <p class="card-text">
                Heroku har altså litt flere funksjoner, men Github Pages vinner fortsatt litt på at det er lettere å sette opp. Alt i alt er dette 
                to måter å hoste en nettside på som har hver sine sett med pluss og minus, men totalt sett er veldig solide alternativ for nybegynnere. 
            </p>
        </div>
    </div>

<%- include("partials/footer")%>